<!DOCTYPE html>
<html>
  <head>
    <title>Abeltrece</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://kit.fontawesome.com/71b620677f.js" crossorigin="anonymous"></script>
  </head>
  <body class="text-uppercase" id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="77" style="background-color: rgba(0, 0, 0, 1); font-family: Helvetica;">
    <%= yield %>
    <%= render "shared/footer" %>
  </body>
</html>
