<!DOCTYPE html>
<html>
  <head>
    <title>Abeltrece</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="text-uppercase" id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="77" style="background-color: rgba(0, 0, 0, 0.5); font-family: Helvetica;">
    <%= yield %>
  </body>
</html>
