<!DOCTYPE html>
<html>
  <head>
    <title>Abeltrece</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="We specialize in capturing the most important moments of your special day. Contact us to book your wedding videography package.">
    <meta name="keywords" content="wedding videography, wedding videographer, wedding video, wedding film, wedding cinematography">
    <meta property="og:title" content="Your Wedding Videographer">
    <meta property="og:description" content="We specialize in capturing the most important moments of your special day. Contact us to book your wedding videography package.">
    <meta property="og:image" content="https://example.com/wedding-video-thumbnail.jpg">
    <meta property="og:url" content="https://example.com/wedding-videography">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Your Wedding Videographer">
    <meta name="twitter:description" content="We specialize in capturing the most important moments of your special day. Contact us to book your wedding videography package.">
    <meta name="twitter:image" content="https://example.com/wedding-video-thumbnail.jpg">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://kit.fontawesome.com/71b620677f.js" crossorigin="anonymous"></script>
  </head>
  <body class="text-uppercase" id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="77" style="background-color: rgba(0, 0, 0, 1); font-family: Helvetica;">
    <%= yield %>
    <%= render "shared/footer" %>
  </body>
</html>
